@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background, #212121);

}

body {

  position: relative;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  color: var(--heading)
}

a,
p {
  color: var(--text)
}

.App.dark {
  --background: #212121;
  --itemBackground: #26282A;
  --itemBackgroundalt: #2e3033;
  --foreground: #313335;
  --accent: #e67e22;
  --heading: #dfdfdf;
  --text: #fff;

}

.App.light {
  --background: #f8fafd;
  --itemBackground: rgb(238, 242, 248);
  --itemBackgroundalt: rgb(238, 242, 255);
  --foreground: rgba(0, 0, 0, 0.027);
  --accent: #e67e22;
  --heading: #383C3F;
  --text: rgb(0, 0, 0);

}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 56px;
  line-height: 90px;
  letter-spacing: -3px;
  word-spacing: 3px;
  font-weight: 100;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  line-height: 80px;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: 100;
  margin: 0;
}

.subline {
  height: 1px;
  background-color: var(--accent);
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.sublineleft {
  height: 1px;
  background-color: var(--accent);
  width: 40%;
  float: left;
  clear: both;
  margin-bottom: 4px;

}


@keyframes movebubbles {
  0% {
    top: 900px;
  }

  100% {
    top: 0px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}