

html,
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}

body {
  position: relative;
}

.App {
  text-align: center;
}

.pageWrapper {
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
  padding: 0 20px;
  position: relative;
  min-height: 100vh;
}

.background {
  background: linear-gradient(to bottom, #121226, black);
}
h1,
h2 {
  color: var(--md-sys-color-on-surface-variant);
}

a,
p {
  color: var(--md-sys-color-on-surface);
}


.subline {
  height: 1px;
  background-color: var(--md-sys-color-primary);
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.sublineleft {
  height: 1px;
  background-color: var(--md-sys-color-primary);
  width: 40%;
  float: left;
  clear: both;
  margin-bottom: 4px;
}

@keyframes movebubbles {
  0% {
    top: 900px;
  }

  100% {
    top: 0px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}
